name: Terraform CD to LXD

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        id: init
        run: |
          docker run --rm -v $(pwd):/workspace -w /workspace/lxc -e TF_VAR_lxd_auth_token=${{ secrets.LXD_AUTH_TOKEN }} canonical/lxd terraform init
        working-directory: .

      - name: Terraform Apply
        run: |
          docker run --rm -v $(pwd):/workspace -w /workspace/lxc -e TF_VAR_lxd_auth_token=${{ secrets.LXD_AUTH_TOKEN }} canonical/lxd terraform apply -auto-approve
        working-directory: .
