name: Terraform CD to LXD

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        id: init
        run: terraform init
        working-directory: ./lxc  # <--- Add this line

      - name: Terraform Apply
        run: terraform apply -auto-approve
        working-directory: ./lxc  # <--- Add this line
